<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @receipt.customer %>
</p>

<p>
  <b>Order:</b>
  <%= @receipt.order %>
</p>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
